body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.logo {
  max-height: 80px;
  height: auto;
  width: auto;
  margin-bottom: 10px;
}

h1 {
  color: #a90533; /* Cor principal UNIVESP */
  font-weight: 600;
}

.btn-primary {
  background-color: #a90533;
  border-color: #a90533;
}

.btn-primary:hover {
  background-color: #8c042b;
  border-color: #8c042b;
}

.btn-success {
  background-color: #2c974b;
  border-color: #2c974b;
}

footer {
  background-color: #f1f1f1;
  padding: 1.5rem 0;
  font-size: 0.9rem;
  color: #6c757d;
  border-top: 1px solid #dee2e6;
}
